<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Summer Camp</title>
</head>

<body>
	<h1>Welcome to Pokemon Team Creator</h1>

	<h2>Options</h2>

	<ul>
		<li>Create your own pokemon team</li>
		<li>Check your pokemon team</li>
	</ul>
</body>

</html>
