<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon Team Creator</title>
	<link rel="stylesheet" href="style.css" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Welcome to Pokemon Team Creator</h1>
	

	Options

	<ul>
		<li>Create your own pokemon team <a href="/teamCreator">Click Here</a></li>
		<li>Check your pokemon team <a href="/getTeam">Click Here</a></li>
	</ul>
</body>

</html>
