<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon Team Creator</title>
	<link rel="stylesheet" href="style.css" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">

	<style>
		#customFont {
			font-family: "Honk", "serif";
		}
	</style>
</head>

<body>
	<h1 id="customFont">Welcome to Pokemon Team Creator</h1>

	Options

	<ul>
		<li id="customFont">Create your own pokemon team <a href="/teamCreator">Click Here</a></li>
		<li id="customFont">Check your pokemon team</li>
	</ul>
</body>

</html>
