.verticalLine {
    border-style: solid; 
    border-width: 5px; 
    border-color: black;

    width: 0px; 
    height: 80vh; 

    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: "Honk";
    text-align: center;
    font-optical-sizing: auto;
    font-size: 3rem;
    margin-top: 0px;
}

h1 {
    font-family: "Honk";
    text-align: center;
    font-optical-sizing: auto;
    font-size: 4rem;

    margin-top: 0px;
}

#submit {
    text-align: center;
    align-content: center;
    margin: auto;
}