<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Team Creator</title>
</head>

<body>
	<h1>Welcome to Pokemon Team Creator</h1>

    <div>
        <form action="">
            Pokemon Name: <input type="text" id="name">
    
            <input type="submit">
        </form>

    </div>
</body>

</html>
