<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Team Creator</title>
  <link rel="stylesheet" href="style.css" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
  <script src = "../pokemonServer.js"  type="text/javascript"></script>
</head>


<body>
	<h1>Welcome to Pokemon Team Creator</h1>

    <div style="display: grid; grid-template-columns: 100fr 1fr 100fr; grid-template-rows: 1fr;">
      <div>
        <h2>Search for a pokemon to add</h2>

          <div style="text-align: center;">
            <form action="http://localhost:<%-portNumber%>/teamCreator" method="post">
              <label for="name">Pokemon Name: </label><input type="text" id="name" name = "name">
              <input type="submit" id="submit">
            </form>
          </div>

        </form><br>

        <div id="pokemon" style="height: 30vh;">
            <%- invalidMessage %>
        </div>

        <div style="text-align: center;">
             <form action="http://localhost:<%-portNumber%>/teamCreatorRemove" method="post">
                <button>Remove All</button>
            </form>
        </div>

        <div style="text-align: center;">
          Not sure what pokemon to add? <br>
          Try to find one that fits your needs by clicking <a href="https://www.pokemon.com/us/pokedex" target = "_blank">here</a>
        </div>
      </div>

      <div class="verticalLine"></div>

      <div>
        <h2>Your Team</h2>

        <%- teamTable %>
      </div>
    </div>

    <hr>

    <div>
      Return to home <a href="/pokemonServer">Home</a>
    </div>
</body>




</html>
